@model IEnumerable<TheBoxApp_Web.ProductAditional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NU_AditionalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BO_Mandatory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BO_Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_Register)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aditional.TX_Aditional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.TX_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NU_AditionalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BO_Mandatory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BO_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_Register)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aditional.TX_Aditional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.TX_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ProductAditional }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ProductAditional }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ProductAditional })
        </td>
    </tr>
}

</table>
