@model TheBoxApp_Web.Distance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DistanceEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NU_MinDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NU_MinDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NU_MaxDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NU_MaxDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NU_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NU_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.TX_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.TX_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Distance }) |
    @Html.ActionLink("Back to List", "Index")
</p>
